<div class="ui cards">
{% for project in projects %}
{% unless project.name == 'wileylabs.github.io' %}
  <div class="card">
    <div class="content">
      <h3 class="header">
        <a href="{{ project.html_url }}" target="_blank">{{ project.name }}</a>
      </h3>
      <div class="description">{{ project.description }}</div>
    </div>
    <div class="extra content">
      <div class="ui horizontal list">
        <a class="item" href="{{ project.html_url }}/stargazers" target="_blank">
          <i class="star icon"></i> {{ project.stargazers_count }}
        </a>
        <a class="item" href="{{ project.html_url }}/watchers" target="_blank">
          <i class="find icon"></i> {{ project.watchers_count }}
        </a>
        <a class="item" href="{{ project.html_url }}/commits" target="_blank" title="start date">
          <i class="calendar icon"></i> {{ project.created_at | date: "%Y-%m-%d" }}
        </a>
      </div>
      {% if project.homepage %}
      <div class="right floated">
        <a class="ui tiny button" href="{{ project.homepage }}" target="_blank">Demo!</a>
      </div>
      {% endif %}
    </div>
  </div>
{% endunless %}
{% endfor %}
</div>
